.stageButton{

    -fx-text-fill: #6d7279;
}
.stageButton:hover{

    -fx-text-fill: #ededee;
}
.stageButtonPressed{

    -fx-text-fill: #ededee;
}

.settingsButton{

    -fx-image: url("../skin/menu/Settings.png");
}
.settingsButton:hover{

    -fx-image: url("../skin/menu_pressed/Settings_pressed.png");
}