/*TablPane styling*/
.tab{
    -fx-background-color: rgba(43, 45, 51, 0);
}

.tab-header-background{
    -fx-background-color: rgba(43, 45, 51, 0.9);
}

.tab-label{
    -fx-text-fill: #5a5d63;
    -fx-font-size: 20pt;
}


.tab-main{
    -fx-pref-height : 60;
    -fx-max-height : 60;
}
