.signUpButton{

    -fx-text-fill: #d5d5d5;
    -fx-background-color: #443A63;
    -fx-effect: dropshadow( three-pass-box, black, 7, 0, 0, 0);
    -fx-text-alignment: center;
}
.signUpButton:hover{

    -fx-background-color: #4e4370;
}
.signUpButton:pressed{

    -fx-effect: dropshadow( three-pass-box, black, 2, 0, 0, 0);
}
.backToSignInButton{

    -fx-text-fill: #d5d5d5;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}
.backToSignInButton:hover{

    -fx-text-fill: #663bc4;
}
.backToSignInButton:pressed{

    -fx-text-fill: #7254b0;
}
.text-field{

    -fx-background-color: #2b2e33;
    -fx-prompt-text-fill: #6e6e6e;
    -fx-text-fill: #d5d5d5;
    -fx-effect: dropshadow( three-pass-box, black, 4.5, 0, 0, 0);
}
.text-field:focused{

    -fx-prompt-text-fill: transparent;
}